#search {
    box-sizing: border-box;
}

#search input {
    padding-top: 20px;
    max-width: 24rem;
    text-align: center;
}

#search input {
    padding-top: 20px;
    max-width: 24rem;
    text-align: center;
}

#search li {
    min-height: 104px;
    padding-left: 114px;
}

#search li img {
    width: 84px;
    height: 84px;
}

#input-wrapper {
    text-align: center;
}

#fixed-btn {
    bottom: 45px;
    right: 24px;
    font-size: xx-large;
}

#ingredient-input {
    padding-right: 0px;
}

#insert-ingredient-button {
    padding-left: 0px;
    text-align: center;
    font-size: large;
}

#collection-wrapper {
    margin-left: 15vw;
}

.collection {
    display: inline-flex;
    flex-flow: row wrap;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 1rem;
}

.collection-item {
    flex: auto;
    min-width: 20rem;
    max-width: 24.5vw;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.collection-item:last-child{
    border-bottom: 1px solid #e0e0e0 !important;
    /*WARNING: Uses !important. I'm sorry in advance*/
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#no-results {
    height: 60vh;
}