#search {
    box-sizing: border-box;
}

#search input {
    padding-top: 20px;
    max-width: 24rem;
    text-align: center;
}

#search li {
    min-height: 104px;
    padding-left: 114px;
}

#search li img {
    width: 84px;
    height: 84px;
}

#input-wrapper {
    text-align: center;
}

.collection {
    display: inline-flex;
    flex-flow: row wrap;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 22vw;
}

.collection-item {
    flex: auto;
    min-width: 24rem;
    max-width: 24rem;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.collection-item:last-child{
    border-bottom: 1px solid #e0e0e0!important;
    /*WARNING: Uses !important. I'm sorry in advance*/
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    margin: auto;
}

main {
    flex: 1 0 auto;
}

#no-results {
    height: 60vh;
}